<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        backupGlobals="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        executionOrder="random"
        failOnWarning="false"
        failOnRisky="true"
        failOnEmptyTestSuite="true"
        beStrictAboutOutputDuringTests="true"
        verbose="true">
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="RABBITMQ_HOST" value="localhost"/>
        <env name="QUEUE_CONNECTION" value="rabbitmq"/>
        <env name="RABBITMQ_PORT" value="5672"/>
        <env name="PORT_SSL" value="5671"/>
        <env name="RABBITMQ_SSL_CAFILE" value="./tests/files/rootCA.pem"/>
    </php>
    <logging/>
</phpunit>
